<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zichen.base.dao.system.SystemAdminWriteDao">
	<resultMap id="SystemAdminResult" type="com.zichen.base.pojo.system.SystemAdmin">
			<result property="id" column="id" />
			<result property="name" column="name" />
			<result property="password" column="password" />
			<result property="roleId" column="role_id" />
			<result property="createTime" column="create_time" />
			<result property="createUser" column="create_user" />
			<result property="tel" column="tel" />
			<result property="status" column="status" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="SystemAdminResult">
		select
		   *
		from `system_admin`
		where `id` = #{id}
	</select>
	
	<select id="getByNamePwd" parameterType="java.lang.String" resultMap="SystemAdminResult">
		select * 
		from `system_admin`
		where `name` = #{name} and password = #{password}
		and `status`=1
		limit 1
	</select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from `system_admin` t1
		<include refid="whereConditions" />
	</select>
	
	<delete id="del">
        delete from `system_admin` where `id` = #{id}
	</delete>
	
	<select id="page"  parameterType="java.util.Map" resultType="com.zichen.base.pojo.system.SystemAdmin">
		select * from `system_admin` t1
		<include refid="whereConditions" />
		order by id
		<if test="size != null and size &gt; 0">limit #{start},#{size}</if>
	</select>
	
	<select id="list" resultType="com.zichen.base.pojo.system.SystemAdmin">
		select * from `system_admin` t1
		order by id
	</select>
	
	<!-- 查询条件 -->
	<sql id="whereConditions">
		<where>
			<if test="queryMap.id != null and queryMap.id !=''"  > and `id`= #{queryMap.id}</if>
			<if test="queryMap.name != null and queryMap.name !=''"  > and `name`= #{queryMap.name}</if>
			<if test="queryMap.q_name != null and queryMap.q_name !=''"  > and `name` like CONCAT('%',#{queryMap.q_name},'%')</if>
			<if test="queryMap.password != null and queryMap.password !=''"  > and `password`= #{queryMap.password}</if>
			<if test="queryMap.roleId != null and queryMap.roleId !=''"  > and `role_id`= #{queryMap.roleId}</if>
			<if test="queryMap.createTime != null and queryMap.createTime !=''"  > and `create_time`= #{queryMap.createTime}</if>
			<if test="queryMap.createUser != null and queryMap.createUser !=''"  > and `create_user`= #{queryMap.createUser}</if>
			<if test="queryMap.tel != null and queryMap.tel !=''"  > and `tel`= #{queryMap.tel}</if>
			<if test="queryMap.status != null and queryMap.status !=''"  > and `status`= #{queryMap.status}</if>
		</where>
	</sql>
	
	<update id="update" parameterType="com.zichen.base.pojo.system.SystemAdmin">
        update `system_admin` 
    	<set>
			<!-- <if test="id != null">`id`= #{id},</if> -->
			<if test="name != null">`name`= #{name},</if>
			<if test="password != null and password !=''">`password`= #{password},</if>
			<if test="roleId != null">`role_id`= #{roleId},</if>
			<!-- <if test="createTime != null">`create_time`= #{createTime},</if> -->
			<!-- <if test="createUser != null">`create_user`= #{createUser},</if> -->
			<if test="tel != null">`tel`= #{tel},</if>
			<if test="status != null">`status`= #{status}</if>
	    </set>
        where `id` = #{id}
	</update>
	
	<insert id="save" parameterType="com.zichen.base.pojo.system.SystemAdmin" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		`system_admin`
		(
			
			`name`,
			`password`,
			`role_id`,
			`create_time`,
			`create_user`,
			`tel`,
			`status`
		)
		values
		(
			
			#{name},
			#{password},
			#{roleId},
			#{createTime},
			#{createUser},
			#{tel},
			#{status}
		)
	</insert>
	
	<select id="getCountByRoleId" resultType="java.lang.Integer">
		select count(1) from `system_admin` where `role_id` = #{roleId}
	</select>
	
</mapper>