<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zichen.base.dao.system.SystemResourcesRolesWriteDao">
    <resultMap id="SystemResourcesRolesResult" type="com.zichen.base.pojo.system.SystemResourcesRoles">
        <result property="id" column="id"/>
        <result property="resourcesId" column="resources_id"/>
        <result property="rolesId" column="roles_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="get" parameterType="Integer" resultMap="SystemResourcesRolesResult">
        select
        *
        from `system_resources_roles`
        where `id` = #{id}
    </select>

    <select id="getCount" parameterType="java.util.Map"
            resultType="java.lang.Integer">
        select count(1) from `system_resources_roles` t1
        <include refid="whereConditions"/>
    </select>

    <delete id="del">
        delete from `system_resources_roles` where `id` = #{id}
    </delete>

    <delete id="delByRole">
        delete from `system_resources_roles` where `roles_id` = #{roleId}
    </delete>

    <select id="page" resultType="com.zichen.base.pojo.system.SystemResourcesRoles">
        select * from `system_resources_roles` t1
        <include refid="whereConditions"/>
        order by id
        <if test="size != null and size &gt; 0">limit #{start},#{size}</if>
    </select>

    <select id="getResourceByRoleId" resultType="com.zichen.base.pojo.system.SystemResources">
        select * from `system_resources` t1
        where t1.id in(select t2.resources_id from `system_resources_roles` t2 where t2.roles_id = #{roleId})
        and t1.scope=#{scope}
        order by id
    </select>

    <select id="getResourceByPid" resultType="com.zichen.base.pojo.system.SystemResources">
        select * from `system_resources` t1
        where
        t1.pid = #{pid}
        and t1.id in(select t2.resources_id from `system_resources_roles` t2 where t2.roles_id = #{roleId})
        and t1.scope=#{scope}
        order by id
    </select>

    <select id="list" resultType="com.zichen.base.pojo.system.SystemResourcesRoles">
        select * from `system_resources_roles` t1
        order by id
    </select>

    <!-- 查询条件 -->
    <sql id="whereConditions">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null and id !=''">and `id`= #{id}</if>
            <if test="resourcesId != null and resourcesId !=''">and `resources_id`= #{resourcesId}</if>
            <if test="rolesId != null and rolesId !=''">and `roles_id`= #{rolesId}</if>
            <if test="createTime != null and createTime !=''">and `create_time`= #{createTime}</if>
        </trim>
    </sql>

    <update id="update" parameterType="com.zichen.base.pojo.system.SystemResourcesRoles">
        update `system_resources_roles`
        <set>
            <if test="id != null">`id`= #{id},</if>
            <if test="resourcesId != null">`resources_id`= #{resourcesId},</if>
            <if test="rolesId != null">`roles_id`= #{rolesId},</if>
            <if test="createTime != null">`create_time`= #{createTime}</if>
        </set>
        where `id` = #{id}
    </update>

    <insert id="save" parameterType="com.zichen.base.pojo.system.SystemResourcesRoles" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into
        `system_resources_roles`
        (

        `resources_id`,
        `roles_id`,
        `create_time`
        )
        values
        (

        #{resourcesId},
        #{rolesId},
        now()
        )
    </insert>

</mapper>